SourceCode/SimoleRemote/.vs/
SourceCode/SimoleRemote/bin/
SourceCode/SimoleRemote/obj/
SourceCode/MahApps.Metro/obj/
SourceCode/MahApps.Metro/bin/
SourceCode/.vs/MetroApp/v16/
SourceCode/.vs/MetroApp/v16/.suo
SourceCode/MahApps.Metro/bin/
SourceCode/MahApps.Metro/obj/Debug/MahApps.Metro.csproj.FileListAbsolute.txt
SourceCode/.vs/MetroApp/v16/.suo
