SourceCode/SimoleRemote/.vs/
SourceCode/SimoleRemote/bin/
SourceCode/SimoleRemote/obj/
SourceCode/MahApps.Metro/obj/
SourceCode/MahApps.Metro/bin/
SourceCode/.vs/MetroApp/v16/
SourceCode/.vs/MetroApp/v16/.suo
SourceCode/MahApps.Metro/bin/
SourceCode/MahApps.Metro/obj/Debug/MahApps.Metro.csproj.FileListAbsolute.txt
SourceCode/.vs/MetroApp/v16/.suo
SourceCode/MahApps.Metro/obj/Debug/Themes/MetroNavigationWindow.g.cs



SourceCode2/SimoleRemote/.vs/
SourceCode2/SimoleRemote/bin/
SourceCode2/SimoleRemote/obj/
SourceCode2/MahApps.Metro/obj/
SourceCode2/MahApps.Metro/bin/
SourceCode2/.vs/MetroApp/v16/
SourceCode2/.vs/MetroApp/v16/.suo
SourceCode2/MahApps.Metro/bin/
SourceCode2/MahApps.Metro/obj/Debug/MahApps.Metro.csproj.FileListAbsolute.txt
SourceCode2/.vs/MetroApp/v16/.suo
SourceCode2/MahApps.Metro/obj/Debug/Themes/MetroNavigationWindow.g.cs

SourceCode0/
